# Python cache
__pycache__/
*.py[cod]

# Gitpod-specific
.gitpod.yml

# Virtualenv / Python environment
.env
.venv
env/
venv/

# OS / Editor junk
.DS_Store
Thumbs.db
*.swp

# Custom files
config.py
.restart_chat_id
.restart_time
bot_session
sudo_user.txt
__pycache__/
*.py[cod]
*$py.class
venv/

# Direktori unduhan
downloads/

# File Log
*.log

# File Sesi Telethon
*.session
*.session-journal
config.py
.DS_Store
.vscode/
.idea/
*.swp
*.swo